
@keyframes escribir {
    from { 
        width: 100%;
    }
    70% {
        width: 0;
    }
    99% {
        width: 0;
    }
    to { 
        width: 100%;
        
    } 
}
@keyframes parpadeo {
    50% {
      color: transparent;
    }
}

@keyframes escribir_menu {
    0% { 
        width: 100%;
    }
    60% {
        width: 0;
    }
    100% { 
        width: 0%;
        
    } 
}

@keyframes color {
    0% {
        color: #FFCD00;
    }

    50% {
        color: #FF8700;
    }

    100% {
        color: #FFCD00;
    }
}


body {
    background: #343434;
    margin: 0;
}

#principal {
    display: none;
}

header {
    background: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 0 30px 0;
    padding: 15px 20px 15px 20px;
}

header .boton {
    background: #252525;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(18, 18, 18, 0.50);
    padding: 1px 10px 1px 10px;
    margin: 1px 10px 1px 0;
    /*   ar der ab iz*/
    color: lightgrey;
    font-family: sans-serif;
    font-size: 14pt;
}

#mini_consola {
    min-width: 350px;
    background: #252525;
    font-family: "Courier New";
    border-radius: 8px;
    font-size: 16pt;
    font-weight: bold;
    margin: 1px 10px 1px 0;
    padding: 1px 31px 1px 10px;

}

#texto_consola {
    position: relative;
    color: white;
}

#rayita_menu {
    position: absolute;
    right: 0;
    width: 0;
    background: #252525;
    border-radius: 8px;
    color: #196F3D;
    font-weight: bold;
    animation: escribir_menu 2s steps(15) 1s both, parpadeo 1s steps(1) infinite;
}


#titulo {
    background: #2D2D2D;
    border-radius: 10px;
    padding: 15px;
	margin: auto;
    height: auto;
    display: table;
}

#consola {
    background: black;
    font-family: "Courier New";
    border-radius: 8px;
    padding: 1px 31px 1px 10px;
    /*   ar der ab iz*/
}


.titulo_escribir { 
	position: relative;
    color: white;
}

.titulo_escribir .nu_c {
    position: absolute;
    right: 0;
    width: 0;
    background: black;
    border-radius: 8px;
    color: #196F3D;
    font-weight: bold;
    animation: escribir 2s steps(15) 1s both, parpadeo 1s steps(1) infinite;
}

#rayita_oculta {
    background: black;
    border-radius: 8px;
    color: #196F3D;
    font-weight: bold;
    animation: parpadeo 1s steps(1) infinite;
}

.terminal_usuario {
    color: #196F3D;
}
.terminal_puntitos {
    color: #E4E4E4;
}
.terminal_ubicacion {
    color: rgb(28, 95, 219);
}
.terminal_simbolo {
    color: #E4E4E4;
}

/*Estilos de JS*/
.cambio_puntero {
    position: unset !important;
    width: 100% !important;
    height: auto !important; 
    animation: color 2s steps(60) infinite !important;
}

.agrandar_consola {
    border-radius: 10px !important;
}

.visible {
    display: unset !important;
}
